

* {
    margin: 0;
    padding: 0;
    cursor: url("/src/assets/images/cursor.png"), auto;
}

body {
	font-display: block;
	font-style: normal;

}

button {
	background-color: #9b4dca;
	border: 0.1rem solid #9b4dca;
	border-radius: .4rem;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1.1rem;
	font-weight: 700;
	height: 3.8rem;
	letter-spacing: .1rem;
	line-height: 3.8rem;
	padding: 0 3.0rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}

button.wide {
	width: 100%;
	font-size: 1.5rem;
	padding: 0 3rem;
	height: 5.8rem;
	line-height: 5.8rem;
}


