@keyframes contentIn {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  99.9% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(0);
  }
}

@keyframes contentOut {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* 14 x 1 */
@media (min-aspect-ratio: 36/12) {
	#content {
		width: max-content;
		min-width: 100%;
		height: 100vh;
		max-height: 100vh;
	}

	#content .hexagon {
        height: 100vh;
        width: 92.8203230276vh;
        float: none !important;
        display: inline-block;
    }

    #content .hexagon .tile:after {
    	content: "";
        display:block;
        position: absolute;
	    width: 100%;
	    height: 100%;
	    left: 50%;
    	top: 75%;
	    color: #fff;
	    background-image: url("/src/assets/images/tiles/trees.svg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain, 90% 90%;
    }
    #content .hexagon:nth-child(2n) .tile:after {
    	top: -75%;
    }
}

/* 14 x 1 center y */
@media (min-aspect-ratio: 36/12) and (max-aspect-ratio: 48/12)  {
	#content {
		width: max-content;
		height: 100vh;
		padding: 25vh 0;
	}

	#content .hexagon {
        height: 50vh;
        width: 46.4101615138vh;
        float: none !important;
        display: inline-block;
    }
}

/* 5 x 3 center y */
@media (min-aspect-ratio: 21/12) and (max-aspect-ratio: 36/12) {
	#content {
		//width: calc(100vh * 1.73);
		//height: 100%;
		//padding: 0 calc((100vw - (100vh * 1.73)) / 2);

	}
}

/* 5 x 3 center x */
@media (min-aspect-ratio: 14/12) and (max-aspect-ratio: 21/12) {
	#content {
   		//width: 100%;
    	//padding: calc((100vh - (100vw / 1.73)) / 2) 0;
	}
}

/* 5 x 3 */
@media (min-aspect-ratio: 14/12) and (max-aspect-ratio: 36/12) {
    #content .hexagon {
        width: 20%;
        padding-bottom: 23.0940107676%; /* =  width / sin(60deg) */
    }

    #content .hexagon:nth-child(10n+6),
    #content .hexagon:nth-child(10n+7),
    #content .hexagon:nth-child(10n+8),
    #content .hexagon:nth-child(10n+9) {
        margin-top: -5.75%;
        margin-bottom: -5.75%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    #content .hexagon:nth-child(10n+6):last-child,
    #content .hexagon:nth-child(10n+7):last-child,
    #content .hexagon:nth-child(10n+8):last-child,
    #content .hexagon:nth-child(10n+9):last-child{
        margin-bottom: 0;
    }
    #content .hexagon:nth-child(10n+6),
    #content .hexagon:nth-child(10n+10) {
        clear: left;
    }
    #content .hexagon:nth-child(1) .tile:after,
    #content .hexagon:nth-child(2) .tile:after,
    #content .hexagon:nth-child(3) .tile:after,
    #content .hexagon:nth-child(4) .tile:after,
    #content .hexagon:nth-child(6) .tile:after,
    #content .hexagon:nth-child(9) .tile:after,
    #content .hexagon:nth-child(10) .tile:after,
    #content .hexagon:nth-child(11) .tile:after,
    #content .hexagon:nth-child(12) .tile:after,
    #content .hexagon:nth-child(13) .tile:after {
    	content: "";
        display:block;
        position: absolute;
	    width: 100%;
	    height: 100%;
	    left: 50%;
	    color: #fff;
	    background-image: url("/src/assets/images/tiles/trees.svg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain, 90% 90%;
    }
    #content .hexagon:nth-child(1) .tile:after,
    #content .hexagon:nth-child(2) .tile:after,
    #content .hexagon:nth-child(3) .tile:after,
    #content .hexagon:nth-child(4) .tile:after {
    	top: -75%;
    }
    #content .hexagon:nth-child(6) .tile:after { left: -100%; }
    #content .hexagon:nth-child(9) .tile:after { left: 100%; }
    #content .hexagon:nth-child(10) .tile:after,
    #content .hexagon:nth-child(11) .tile:after,
    #content .hexagon:nth-child(12) .tile:after,
    #content .hexagon:nth-child(13) .tile:after {
    	top: 75%;
    }
}

@media (min-aspect-ratio: 11/12) and (max-aspect-ratio: 14/12) {
	#content {
		width: calc(100vh);
		height: 100%;
		padding: 0 calc((100vw - 100vh) / 2);
	}
}

@media (min-aspect-ratio: 8/12) and (max-aspect-ratio: 11/12) {
	#content {
		width: 100%;
    	padding: calc((100vh - 100vw) / 2) 0;
	}
}

/* 4 x 4 */
@media (min-aspect-ratio: 8/12) and (max-aspect-ratio: 14/12) {
    #content .hexagon {
        width: 24.25%; /* = (100-3) / 4 */
        padding-bottom: 28.001%; /* =  width / sin(60deg) */
    }
    #content .hexagon:nth-child(7n+5),
    #content .hexagon:nth-child(7n+6),
    #content .hexagon:nth-child(7n+7) {
        margin-top: -6.134%;
        margin-bottom: -6.134%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    #content .hexagon:nth-child(7n+5):last-child,
    #content .hexagon:nth-child(7n+6):last-child,
    #content .hexagon:nth-child(7n+7):last-child {
        margin-bottom: 0;
    }
    #content .hexagon:nth-child(7n+5),
    #content .hexagon:nth-child(7n+8) {
        clear: left;
    }
    #content .hexagon:nth-child(1) .tile:after,
    #content .hexagon:nth-child(2) .tile:after,
    #content .hexagon:nth-child(3) .tile:after,
    #content .hexagon:nth-child(7n+5) .tile:after,
    #content .hexagon:nth-child(7n+7) .tile:after {
    	content: "";
        display:block;
        position: absolute;
	    width: 100%;
	    height: 100%;
	    color: #fff;
	    background-image: url("/src/assets/images/tiles/trees.svg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain, 90% 90%;
    }
    #content .hexagon:nth-child(1) .tile:after,
    #content .hexagon:nth-child(2) .tile:after,
    #content .hexagon:nth-child(3) .tile:after {
    	top: -75%;
    	left: 50%;
    }
    #content .hexagon:nth-child(7n+5) .tile:after { right: 100%; }
    #content .hexagon:nth-child(7n+7) .tile:after { left: 100%; }
}

/* 3 x 5 */
@media (min-aspect-ratio: 6/12) and (max-aspect-ratio: 8/12) {
	#content {
		padding: 3em 0;
	}
    #content .hexagon {
        width: 32.666%; /* = (100-2) / 3 */
        padding-bottom: 37.720%; /* =  width / sin(60) */
    }
    #content .hexagon:nth-child(5n+4),
    #content .hexagon:nth-child(5n+5) {
        margin-top: -8.564%;
        margin-bottom: -8.564%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    #content .hexagon:nth-child(5n+4):last-child,
    #content .hexagon:nth-child(5n+5):last-child {
        margin-bottom: 0;
    }
    #content .hexagon:nth-child(5n+6) {
        clear: left;
    }
    #content .hexagon.minimize {
		display: none;
	}
	#content .hexagon:nth-child(1) .tile:after,
    #content .hexagon:nth-child(2) .tile:after,
    #content .hexagon:nth-child(3) .tile:after,
	#content .hexagon:nth-child(5n+4) .tile:after,
    #content .hexagon:nth-child(5n+5) .tile:after {
    	content: "";
        display:block;
        position: absolute;
	    width: 100%;
	    height: 100%;
	    color: #fff;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain, 90% 90%;
		background-image: url("/src/assets/images/tiles/trees.svg");
    }
    #content .hexagon:nth-child(1) .tile:after,
    #content .hexagon:nth-child(2) .tile:after,
    #content .hexagon:nth-child(3) .tile:after {
    	top: -75%;
    	left: 50%;
    }
    #content .hexagon:nth-child(5n+4) .tile:after { right: 100%;  }
    #content .hexagon:nth-child(5n+5) .tile:after { left: 100%; background-image: url("/src/assets/images/tiles/trees.svg"); }

    #content .hexagon .tile .banner {
    	font-size: 1.5em !important;
    }
}

/* 1 x 14 */
@media (max-aspect-ratio: 6/12) {
	#content .hexagon {
        width: 100%; /* = (100-2) / 3 */
        padding-bottom: 115.470053838%; /* =  width / sin(60) */
    }

    #content .hexagon .tile .banner {
    	font-size: 15vw !important;
    	line-height: 0.6em !important;
    }
}


#content.visible {
	animation: contentIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#content.out {
	animation: contentOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

#content:after {
    content: "";
    display: block;
    clear: both;
}

#content .hexagon {
    position: relative;
    list-style-type: none;
    float: left;
    visibility: hidden;
    -webkit-transform: rotate(-60deg) skewY(30deg);
        -ms-transform: rotate(-60deg) skewY(30deg);
            transform: rotate(-60deg) skewY(30deg);
}

#content .hexagon .tile {
	cursor: url("/src/assets/images/cursorPointer.png"), pointer;
    text-align: center;
    color: #fff;
            transform: skewY(-30deg) rotate(60deg);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: background-size .2s ease-out, opacity .2s ease-out;
            transition: background-size .2s ease-out, opacity .2s ease-out;
}

	#content .hexagon .tile:hover {
		background-size: 100% 100%;			
	}

		#content .hexagon .tile .banner {
			opacity: 0.85;
		    font-size: 3.5vw;
		    line-height: 3vw;
		    width: 85%;
		    margin: 0 5%;
		    text-align: left;
		    bottom: 7.5%;
   			text-shadow: 0.3vw 0.3vw 0 rgba(0, 0, 0, 0.25);
   			border: 10px solid transparent;
   			border-radius: 10px;
   			border-image: url("/src/assets/images/ui/b.png") 20 round;
   			background: #d3bf8f;
   			transition: opacity .2s ease-out;

		}

		#content .hexagon .tile:hover .banner {
			opacity: 1;
		}

		#content .hexagon .tile .level {
			right: 0;
		  }

		#content .hexagon .tile.avatar {
			background-image: url("/src/assets/images/characters/Face/Completes/face2.png"),
							  url("/src/assets/images/characters/Hair/Brown 1/brown1Man2.png"),
							  url("/src/assets/images/characters/Skin/Tint 1/tint1_head.png");
			background-repeat: no-repeat;
			background-position: center 100px, center 30px, center 70px;
			background-size: auto;
		}