.tile {
	display:inline-block;
    visibility: visible;
    width: 13vmin;
    height: 13vmin;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	vertical-align: middle;
	float: left;
    filter: saturate(130%) contrast(100%) drop-shadow(0.3vw 0.3vw 0 rgba(0, 0, 0, 0.25));
}

.tile.full {
	width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    float: none;
}

.tile.info      { background-image: url("/src/assets/images/tiles/trees.svg"); }
.tile.iron 	    { background-image: url("/src/assets/images/tiles/iron.svg"); }
.tile.clay 	    { background-image: url("/src/assets/images/tiles/clay.svg"); }
.tile.wood 	    { background-image: url("/src/assets/images/tiles/wood.svg"); }
.tile.storage   { background-image: url("/src/assets/images/tiles/warehouse.svg"); }
.tile.farm 	    { background-image: url("/src/assets/images/tiles/farm.svg"); }
.tile.barracks  { background-image: url("/src/assets/images/tiles/barracks.svg"); }
.tile.castle 	{ background-image: url("/src/assets/images/tiles/castle.svg"); }
.tile.church 	{ background-image: url("/src/assets/images/tiles/church.svg"); }
.tile.acadamy   { background-image: url("/src/assets/images/tiles/acadamy.svg"); }
.tile.wall 	    { background-image: url("/src/assets/images/tiles/wall.svg"); }
.tile.hiding 	{ background-image: url("/src/assets/images/tiles/trees.svg"); }
.tile.map 		{ background-image: url("/src/assets/images/tiles/map.svg"); }
.tile.trading   { background-image: url("/src/assets/images/tiles/trees.svg"); }