@charset "utf-8";

@font-face {
	font-family: "Kenney High";
  	src: url("/fonts/Kenney High.ttf");
  	font-style: normal;
  	font-weight: 400;
}

@font-face {
	font-family: "Kenney Mini";
  	src: url("/fonts/Kenney Mini.ttf");
  	font-style: normal;
  	font-weight: 400;
}

@font-face {
	font-family: "Kenney Mini Square";
  	src: url("/fonts/Kenney Mini Square.ttf");
  	font-style: normal;
  	font-weight: 400;
}

body {
	//font-family: "Kenney High";
	background-color: #21ba45;
	//filter: saturate(120%) contrast(120%);
}


.ui.dimmer {
	background-color: rgba(0,0,0,0.5);
}