@media (min-aspect-ratio: 12/12) {
	.flow-1, .flow-2, .flow-3, .flow-4 {
		width: 80vh !important;
		height: 80vh !important;
		left: calc(50vw - 40vh) !important;
		top: 10vh !important;
	}
	.flow-1 {
		border-radius: 20vh !important;
	}
	.flow-2 {
		border-radius: 20vh !important;
	}
	.flow-3 {
		border-radius: 20vh !important;
	}
	.flow-4 {
		border-radius: 40vh !important;
	}
}

.flow-1, .flow-2, .flow-3, .flow-4 {
	display: block;
	width: 80vw;
	height: 80vw;
	margin: 0 !important;
	position: absolute !important;
	top: calc(50vh - 40vw);
	left: 10vw;
	opacity: 0.6;
}
.flow-1 {
	border-radius: 20vw !important;
	animation: rotating1 35s linear infinite;
}
.flow-2 {
	border-radius: 20vw !important;
	animation: rotating2 30s linear infinite;

}
.flow-3 {
	border-radius: 20vw !important;
	animation: rotating3 25s linear infinite;

}
.flow-4 {
	border-radius: 40vw !important;
	opacity: 1 !important;
	overflow: hidden;
	background-image: radial-gradient(#FFF 50%, #999 100%) !important;
}

#flow {
	
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	overflow: hidden;
}

@keyframes rotating1 {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

@keyframes rotating2 {
	from { transform: rotate(30deg); }
	to { transform: rotate(390deg); }
}

@keyframes rotating3 {
	from { transform: rotate(60deg); }
	to { transform: rotate(420deg); }
}

.rotating {
-webkit-animation: rotating 2s linear infinite;
-moz-animation: rotating 2s linear infinite;
-ms-animation: rotating 2s linear infinite;
-o-animation: rotating 2s linear infinite;
animation: rotating 2s linear infinite;
}