@keyframes scroll {
  from { background-position: 0 420px; }
  to { background-position: 0 0; }
}

.logo {
  margin: 0 auto;
  overflow: hidden;
  font-size: 15vmin;

}

.knockout {
    background-color: #21ba45;
    background-image: url("/src/assets/images/trees.svg");
    animation: scroll 20s linear infinite;
    width: 100%;
    font-family: 'Kenney Mini Square', sans-serif;
    text-transform: uppercase;
}

/* Clip text element */
.clip-text {
    font-weight: 900;
    line-height: 0.75;
    min-height: 0.753;
    text-align: center;
    color: #000;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* Background */
.clip-text:before {
    position: absolute;
    content: '';
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
}

